<!DOCTYPE html>
<html>

<head>
    <title> Expenses </title>
</head>

<body>
    <h1>Add Expenses</h1>
    {% if messages %}
    {% for message in messages %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
    {% endif %}


    <form method="POST" action="/handleExpenses/">
        {% csrf_token %}
        <label> Amount:</label><br><br>
        <input type="text" name="amount" inputmode="decimal" placeholder="0.0" required> <br><br>

        <label>Description:</label><br>
        <input type="text" name="description" required><br><br>


        <label for="category">Category:</label><br>
        <select id="category" name="category" required>
            <option value="Groceries">Groceries</option>
            <option value="Transport">Transport</option>
            <option value="Rent">Rent</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Clothes">Clothes</option>
            <option value="Others">Others</option>
        </select><br><br>

        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>

        <button type="submit">Add Expense</button>
    </form>
</body>

</html>