<!Doctype html>
<html>

<head>
    <title> Login - Expense Tracker</title>
</head>

<body>
    <h1>Login Page</h1>

    {% if message %}
    {% for message in messages %}
    <p style="color:red;">{{message}}</p>
    {% endfor %}
    {% endif %}

    <form method="POST" action="/handlelogin/">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="login_user_name" required><br> <br>

        <label>Password:</label><br>
        <input type="password" name="loginpassword1" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register/">Register here</a></p>
</body>
</body>

</html>